<div class="title-container">
    <h1 class="">{{artist.name}}</h1> <i>{{artist.label}}</i>
</div>
<div class="info">
    Albums: {{artist.albums}}<br>
    Genre: {{artist.genre}}<br>
    IG Followers: {{artist.IGFollowers}}<br>
    Artist id: {{artist.id}}<br>
    <img class="artistpic" src="{{artist.src}}">
</div>
